#input-form {
    /* width: 600px; */
    height: 100vh;
}

#status-container {
    height: 60vh;
    display: none;
}

#status-content {
    height: 40vh;
}

#header-section {
    display: flex;
    justify-content: space-between;
}