#input-form {
    /* width: 600px; */
    height: 100vh;
}

#status-container {
    height: 60vh;
    display: none;
}

#status-content {
    height: 40vh;
}

#header-section {
    display: flex;
    justify-content: space-between;
}

.info-tag {
    border-radius: 3px;
    color: black;
    font-weight: bold;
    padding: 5px;
    overflow-x: auto;
}

.info-tag > a {
    color: rgb(255, 0, 98);
    text-decoration: none;
}